.container{
  width: 90%;
  margin: 200px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.card img{
  width: 150px;
}

body{
  color: white;
  background: rgb(0,111,255);
  background: linear-gradient(90deg, rgba(0,111,255,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}
